%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:nodes, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:nodes, :new)

.tabs-content
  -form_for :node, url(:nodes, :create), :class => 'form-horizontal' do |f|
    =partial 'nodes/form', :locals => { :f => f }
