%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:authors, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:authors, :new)

.tabs-content
  -form_for :author, url(:authors, :create), :class => 'form-horizontal' do |f|
    =partial 'authors/form', :locals => { :f => f }
